/*Global*/
*{
    padding: 0px;
    margin: 0px;
}

/*Create page*/

div.createWrapper{
    margin-left: 2%;
}

select..selectChannel{
    margin-left: 1%;
}

textarea.selectMessage {
    margin-left: 1%;
    width: 20%;
    height: 15%;
    resize: none;
}

/*header*/
li.headerLink{
    display: inline;
    margin-left: 1%;
}

a.headerLink{
    color: black;
    text-decoration: none;
}

a.headerLink:hover{
    text-decoration: underline;
}

div.navBar{
    margin-top: 1%;
}